/* CSS by Chiara */
#body {
  font-family: Arial;
}
#navbar-custom {
	background: #338D00;
	color: #ffffff;
	font-size: 14px;
	font-weight: lighter;
	
}
.navbar-default {
	background-color: #338D00; 
	background-image: none;
  	background-repeat: no-repeat;
}
footer {
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	background: #338D00;
	text-align: left;
	margin: auto;	
}
